html {
    background-color: lavender;
}


header {
    border-bottom: 3px solid purple;
    background-color: lavender;
}

header h1 {
    font-size: 250%;
    font-style: normal;
    color: purple;
    text-shadow: 3px 3px 7px purple;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    max-width: 1000px;
    border: 3px solid purple;
    margin: auto;
    background-color: white;
}

main img {
    width: 250px;
    height: 250px;
    margin: 1em;
}

main p {
    margin: 1em;
    height: 17em;

}
div img {
    float: left;
}
div p {
    text-align: left;
}

section img {
    float: right;
}

section p {
    text-align: right;
}

footer {
    background-color: lavender;
    padding: 15px 0;
}

footer p {
    font-size: 75%;
    text-align: center;
    color: purple;
    margin-top: 10px;
}